body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:401px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:22px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:80px;
  width:51px;
  height:81px;
}
#u1021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:161px;
  width:27px;
  height:16px;
}
#u1022_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:313px;
  width:51px;
  height:81px;
}
#u1023_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:394px;
  width:29px;
  height:16px;
}
#u1024_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:80px;
  width:51px;
  height:81px;
}
#u1025_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:161px;
  width:29px;
  height:16px;
}
#u1026_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:313px;
  width:51px;
  height:81px;
}
#u1027_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:394px;
  width:29px;
  height:16px;
}
#u1028_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:313px;
  width:0px;
  height:0px;
}
#u1029_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-136px;
  width:8px;
  height:140px;
}
#u1029_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-76px;
  width:100px;
  word-wrap:break-word;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:73px;
  width:0px;
  height:0px;
}
#u1030_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-12px;
  width:8px;
  height:12px;
}
#u1030_seg1 {
  border-width:0px;
  position:absolute;
  left:-200px;
  top:-12px;
  width:204px;
  height:8px;
}
#u1030_seg2 {
  border-width:0px;
  position:absolute;
  left:-200px;
  top:-12px;
  width:8px;
  height:12px;
}
#u1030_text {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:-16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:47px;
  width:111px;
  height:16px;
}
#u1031_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1032_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:298px;
  height:5px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:227px;
  width:295px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1032_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-15px;
  width:291px;
  word-wrap:break-word;
}
#u1033_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:138px;
  height:5px;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:244px;
  width:135px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1033_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-15px;
  width:131px;
  word-wrap:break-word;
}
#u1034_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:228px;
  height:5px;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:353px;
  width:225px;
  height:2px;
}
#u1034_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-15px;
  width:221px;
  word-wrap:break-word;
}
#u1035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:173px;
  width:9px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1035_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:63px;
  width:9px;
  height:15px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:173px;
  width:9px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1037_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:346px;
  width:9px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1038_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:347px;
  width:9px;
  height:15px;
}
#u1039_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:117px;
  width:9px;
  height:15px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u1040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:121px;
  width:0px;
  height:0px;
}
#u1041_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:41px;
  height:8px;
}
#u1041_seg1 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-4px;
  width:8px;
  height:217px;
}
#u1041_seg2 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:205px;
  width:184px;
  height:8px;
}
#u1041_text {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:168px;
  width:100px;
  word-wrap:break-word;
}
