body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1271px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:22px;
  width:141px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u288_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:260px;
  width:90px;
  height:30px;
}
#u289_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:130px;
  width:120px;
  height:70px;
}
#u290_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:116px;
  word-wrap:break-word;
}
#u291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:240px;
  width:120px;
  height:70px;
}
#u291_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:116px;
  word-wrap:break-word;
}
#u292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:350px;
  width:120px;
  height:70px;
}
#u292_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:116px;
  word-wrap:break-word;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:275px;
  width:0px;
  height:0px;
}
#u293_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u293_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-114px;
  width:8px;
  height:118px;
}
#u293_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-114px;
  width:54px;
  height:8px;
}
#u293_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:275px;
  width:0px;
  height:0px;
}
#u294_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u294_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-4px;
  width:8px;
  height:118px;
}
#u294_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:106px;
  width:54px;
  height:8px;
}
#u294_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:275px;
  width:0px;
  height:0px;
}
#u295_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:111px;
  height:8px;
}
#u295_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:159px;
  width:20px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u296_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:269px;
  width:20px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u297_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:379px;
  width:20px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u298_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:240px;
  width:120px;
  height:70px;
}
#u299_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:116px;
  word-wrap:break-word;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:165px;
  width:0px;
  height:0px;
}
#u300_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u300_seg1 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-4px;
  width:8px;
  height:118px;
}
#u300_seg2 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:106px;
  width:64px;
  height:8px;
}
#u300_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:275px;
  width:0px;
  height:0px;
}
#u301_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:134px;
  height:8px;
}
#u301_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:385px;
  width:0px;
  height:0px;
}
#u302_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u302_seg1 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-114px;
  width:8px;
  height:118px;
}
#u302_seg2 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-114px;
  width:64px;
  height:8px;
}
#u302_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:269px;
  width:20px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u303_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:240px;
  width:120px;
  height:70px;
}
#u304_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:116px;
  word-wrap:break-word;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:275px;
  width:0px;
  height:0px;
}
#u305_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u305_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:105px;
  width:120px;
  height:70px;
  color:#0099FF;
}
#u306_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:116px;
  word-wrap:break-word;
}
#u307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:375px;
  width:120px;
  height:70px;
}
#u307_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:116px;
  word-wrap:break-word;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:240px;
  width:0px;
  height:0px;
}
#u308_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-65px;
  width:8px;
  height:69px;
}
#u308_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-40px;
  width:100px;
  word-wrap:break-word;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:310px;
  width:0px;
  height:0px;
}
#u309_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u309_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:520px;
  width:90px;
  height:30px;
}
#u310_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:86px;
  word-wrap:break-word;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:445px;
  width:0px;
  height:0px;
}
#u311_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:79px;
}
#u311_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:410px;
  width:0px;
  height:0px;
}
#u312_seg0 {
  border-width:0px;
  position:absolute;
  left:-134px;
  top:-4px;
  width:134px;
  height:8px;
}
#u312_seg1 {
  border-width:0px;
  position:absolute;
  left:-134px;
  top:-100px;
  width:8px;
  height:104px;
}
#u312_text {
  border-width:0px;
  position:absolute;
  left:-165px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:105px;
  width:0px;
  height:0px;
}
#u313_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-19px;
  width:8px;
  height:19px;
}
#u313_seg1 {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:-19px;
  width:198px;
  height:8px;
}
#u313_seg2 {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:-19px;
  width:8px;
  height:154px;
}
#u313_text {
  border-width:0px;
  position:absolute;
  left:-212px;
  top:-23px;
  width:100px;
  word-wrap:break-word;
}
#u314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:230px;
  width:20px;
  height:11px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u314_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:174px;
  width:20px;
  height:11px;
}
#u315_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:269px;
  width:20px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u316_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:365px;
  width:20px;
  height:11px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u317_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:510px;
  width:20px;
  height:11px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u318_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:309px;
  width:20px;
  height:11px;
}
#u319_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF9900;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:105px;
  width:361px;
  height:44px;
  font-size:18px;
  color:#FF9900;
}
#u320_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:105px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u321_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
